.menu.ui.secondary.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 90px;
    top: 0px;

    background: #3F3D56;
    background-size: cover;
    margin-left: 0;

}

.Btn-BG {
    background-color: white !important;
}


label {
    color: white; 
}

