.result {
    width: 480px;
    height: 150px;
    padding: 10px;
    text-align: left;
    background: white;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: large;
    line-height: 30px;
}
.searchBox {
    position: absolute;
    top: 105px;
    right: 20px;
    /* float: right; */
    width: 500px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    overflow-x: auto;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
}
