.result {
  width: 600px;
  height: 165px;
  padding: 10px;
  text-align: left;
  background: white;
  margin-bottom: 10px;
  border-radius: 2px;
}
.result-table {
  width: 580px;
  height: 140px;
}
.result-table-image {
  text-align: right;
  margin: 5px;
}
.result-table-text {
  margin: 10px;
  vertical-align: top;
  font-size: medium;
  line-height: 30px;
  height: 146px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: xx-large;
  font-weight: bold;
}

.searchBox {
  padding-left: 10px;
  padding-right: 10px;
  /* position: absolute; */
  /* top: 105px;
    right: 20px; */
  /* float: right; */
  width: 640px;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: visible;
}
